:root {
    --bg-colour1: #db9eff; /*light purple*/    
    --bg-colour2: #9fd4ff; /*light blue*/
    --accent-colour1: #68c8f9;
    --accent-colour1-dark: #52aee5;
    --accent-colour2: #c38ff5;
    --accent-colour2-dark: #a568d0;
    --txt-colour-dark: #000066;
    
    --font1: "Baloo Bhai";
    --font2: "Expletus Sans";
    --font3: "Playfair Display";
}

* {
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, var(--bg-colour1), var(--bg-colour2), var(--bg-colour2));
    background-repeat: no-repeat;
}
h1 {
    font-size: 4rem;
    font-family: var(--font1);
    text-align: center;
    text-shadow: 3px 3px #fff;
    font-variant-caps: petite-caps;
    color: var(--txt-colour-dark);
}
h2 {
    font-size: 1.75rem;
    font-family: var(--font2);
    text-align: center;
    color: var(--txt-colour-dark);
}
h3 {
    font-size: 1.5rem;
    font-family: var(--font2);
    color: var(--txt-colour-dark);
}
p {
    font-size: 1rem;
    font-family: var(--font3);
    color: var(--txt-colour-dark);
}
.button {
    width: 15%;
    min-width: 100px;
    height: 2%;
    min-height: 25px;
    padding: 2%;
    margin: 3%;
    text-align: center;
    background-color: var(--accent-colour1);
    border: 3px solid var(--accent-colour1-dark);
    border-radius: 10px;
    transition: background-color linear 0.5s;
}
.button:hover {
    background-color: var(--accent-colour1-dark);
}


#create-test {
    width: 70vw;
    height: 75vh;
    margin: 0 auto;
    padding: 3%;
    background-color: rgba(255, 255, 255, 0.35);
    border: 5px solid var(--accent-colour2-dark);
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.15);
    border-radius: 5%;
    transition: background-color linear 1s;
}
#create-test:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
form#premade * {
    display: inline-block;
}

#play-test {
    width: 100vw;
    height: 100vh;
    display: none;
}
#test-left {
    width: 65%;
    height: 100%;
    padding: 7% 10%;
    float: left;
}
form#test {
    max-height: 65vh;
    margin-top: 50px;
    padding: 5%;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.35);
    border: 5px solid var(--accent-colour1-dark);
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.15);
    border-radius: 5%;
    transition: background-color linear 1s;
}

.question {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}
.question:not(:last-child) {
    margin-bottom: 35px;
}
.question p {
    width: 50%;
    margin: 10px 0;
}
input[type=radio] {
    height: 1rem;
    margin-right: 10px;
}


#test-right {
    width: 35%;
    height: 100%;
    padding: 5%;
    float: left;
}
#test-right .button {
    min-width: 200px;
    min-height: 50px;
}